/* Home.css */
.home {
  background-color: #f8f9fa;
}

/* Hero Section */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: white;
  margin-top: 8px;
  z-index: 1;
}

.hero-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* Hero Content */
.hero-content {
  position: relative;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #243642;
}

.highlight {
  color: #FF885B;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #021526;
}

.cta-button {
  background-color: #54473F;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #CBD2A4;
  transform: scale(1.05);
  cursor: pointer;
}

/* Services Section */
.services {
  padding: 4rem 2rem;
  background-color: #f8f9fa;
}

.section-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.MuiCard-root {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.MuiCard-root:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.MuiCardMedia-root {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.MuiButton-root {
  background-color: #4EA685;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.MuiButton-root:hover {
  background-color: #57B894;
  transform: scale(1.05);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure this is higher */
}

.modal-content {
  --bs-modal-bg:#f8f9fa;

  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  overflow-y: auto;
  transition: transform 0.3s, opacity 0.3s;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.5rem;
  color: #333;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modal-body img {
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0;
}

.modal-footer {
  text-align: right;
}

.btn {
  background-color: #4EA685;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #57B894;
  transform: scale(1.05);
  cursor: pointer;
}

/* Testimonials Section */
.testimonials {
  padding: 4rem 2rem;
  background-color: #e9ecef;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #333;
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.testimonial {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.testimonial-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-content {
  text-align: center;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.testimonial-title {
  color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 0.5rem 1rem;
  }

  .services-list,
  .testimonials-list {
    grid-template-columns: 1fr;
  }

  .testimonial {
    padding: 1rem;
  }

  .modal-content {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }
}
